/* Tailwind directives used to include base styles, component styles and utility styles */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .Dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
} */

.Cohort-listing {
  border: 5px solid rgba(29, 212, 38, 0.711);
  position: absolute;
  text-align: center;
  margin-right: 10em;
  right: inherit;
}

/* styles.css or your custom styles file */
.gradient-ring {
  position: relative;
  width: 200px; /* Adjust the width based on your design */
  height: 200px; /* Adjust the height based on your design */
  /*used Hawaii gradient from hypercolor.dev*/
  background: linear-gradient(
    to right,
    #48bb78,
    #8ddc77,
    #f6e05e,
    #f56565,
    #f56565
  ); /* Your provided gradient */
  background-size: 100% 100%;
  background-repeat: initial;
  border-radius: 50%;
  border: 1px solid bg-zinc-100; /* Adjust the border thickness */
}

/* Additional styles for image */
.image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 94%; /* Ensure the image covers the circular container */
  height: 94%; /* Ensure the image covers the circular container */
  object-fit: cover;
  border-radius: 50%;
}
